/* Reset */
html, body {
	font-size: 62.5%;
}
* {
  font-family: 'Inter', 'Noto Sans KR', sans-serif;;
  padding: 0;
	margin: 0;
	font-size: 1.6rem;
	font-weight: normal;
	font-style: normal;
	color: #000;
	line-height: 1;
	box-sizing: border-box;
	word-break: keep-all;
}
button,
textarea,
input,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	border: none;
	background-color: transparent;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
}
a,
button{
  cursor: pointer;
}
a,
a:hover,
a:focus,
button {
	text-decoration: none;
}


#wrap{
  width: 25rem;
  margin: auto;
}
.calculatorWrap{
  border-radius: 24px;
  border: 1px solid #8E8E8E;
  overflow: hidden;
  background: #8E8E8E;
}
.calculatorWrap input{
  width: 100%;
  height: 50%;
  color: #fff;
  text-align: right;
  padding: 1rem;
  font-size: 1.5rem;
  font-size: 2.5rem;
}
.calculatorWrap input#result{
  font-size: 2.5rem;
}

.displayWrap{
  height: 10rem;
  background: #413C3C;
}

.buttons{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1px;
}
.buttons button{
  height: 6rem;
  font-size: 2.6rem;
  background: #E0E0E0;
}
.buttons .left{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr, 5);
  gap: 1px;
}
.buttons .left button:nth-child(2),
.buttons .left button:nth-child(12){
  grid-column: span 2;
}
.buttons .right{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
}
.buttons .right button{
  background: #E89650;
  color: #fff;
}