//스타일

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: */
}

.calculator {
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
}

.display {
  background-color: #403b3b;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
}

.calculation {
  font-size: 20px;
  color: "ccc";
}

.result {
  font-size: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #ddd;
}

.button {
  font-size: 24px;
  padding: 20px;
  text-align: center;
  border: none;
}

.operator {
  background-color: orange;
  color: #fff;
}

.answer {
  background-color: orange;
  color: #fff;
}

.zero {
  grid-column: span 2;
}

.reset {
  grid-column: span 2;
}
