@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter";
  font-weight: 400;
}
body{
  display: flex;
  justify-content: center;
}
.wrap {
  width: 412px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: column;
  border-radius: 0 0 24px 24px;
}
.output {
  height: 184px;
  border: 1px solid #8e8e8e;
  border-radius: 24px 24px 0 0;
  text-align: right;
  background-color: #413c3c;
  color: #ffffff;
}
.log {
  margin-top: 28px;
  height: 30px;
  margin-right: 18px;
  font-size: 30px;
}
.result {
  margin-top: 40px;
  margin-right: 18px;
  font-size: 50px;
}

button {
  border: none;
  background-color: transparent;
  border: 1px solid #8e8e8e;
  background-color: #e0e0e0;
}
button:active {
  background-color: #c0c0c0;
}
button:nth-child(16) {
  border-radius: 0 0 0 24px;
}
button:nth-child(18) {
  border-radius: 0 0 24px 0;
}

button.oper:active{
  background-color: #e88937;
}

.item {
  flex: 1;
  height: 120px;
  font-size: 50px;
}
.item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
}
.item:nth-child(16) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.oper {
  background-color: #e89650;
  color: #ffffff;
}
