.container {
  display: flex;
  flex-direction: column;
}

.output {
  width: 412px;
  height: 50px;
  border: 1px solid black;
  text-align: right;
}

.item {
  border: 1px solid black;
  flex: 1;
  height: 50px;
}

.row {
  display: flex;
  width: 412px;
}
